<launch>
  <node
    pkg="rosserial_server"
    type="socket_node"
    name="unity_node"
    output="screen"
    respawn="true"
  />
  <node
    pkg="rosserial_server"
    type="socket_node"
    name="shimmer_node"
    args="_port:=11412"
    output="screen"
    respawn="true"
  />
  <node
    pkg="rosserial_python"
    type="message_info_service.py"
    output="screen"
    name="rosserial_message_info"
  />
  <node
    pkg="osiris"
    type="reaper.py"
    name="reaper"
    output="screen"
  />
  <node
    pkg="osiris"
    type="ganesh.py"
    name="ganesh"
    output="screen"
  />
  <node
    pkg="osiris"
    type="comms_test.py"
    name="comms_test"
    output="screen"
  />
  <node
    pkg="osiris"
    type="reaper_subscriber.py"
    name="reaper_hellfire"
    output="screen"
  />
  <node
    pkg="osiris"
    type="talker.py"
    output="screen"
    name="pythontalker"
  />
</launch>
